<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/first_intro"
        android:label="Dự báo khí tượng"
        android:roundIcon="@drawable/first_intro"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Page2"
        tools:targetApi="34">




        <activity
            android:name=".Main_dash_board_activity"

            android:exported="false" />
        <activity
            android:name=".sign_in_activity"
            android:exported="false" />
        <activity
            android:name=".sign_up_activity"
            android:exported="false" />
        <activity
            android:name=".homePageActivity"
            android:exported="false" />
        <activity
            android:name=".intro_app_activity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".profile_activity"
            android:exported="false" />
    </application>

</manifest>